html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

body {
  padding: 1em;
  font-family: Meiryo, Ricty, verdana, sans-serif;
  color: #000;
}

h1 {
  font-size: 3.0em;
  font-weight: bold;
}

h2 {
  font-size: 2.0em;
  font-weight: bold;
}

h3 {
  font-size: 1.0em;
  font-weight: bold;
}

h4 {
  font-size: 0.95em;
  font-weight: bold;
}

h5 {
  font-size: 0.9em;
  font-weight: bold;
}

h6 {
  font-size: 0.85em;
  font-weight: bold;
}

img {
  border: 0;
}

ol, ul, li {
  font-size: 1.0em;
  line-height: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

p {
  font-size: 1.0em;
  margin: 1.2em 0em 1.2em 0em;
}

li > p {
  margin-top: 0.2em;
}

pre {
  font-family: monospace;
}

a, a:link {
  color: #6699cc;
}

a:active, a:hover {
  color: #669933;
}

a:visited {
  color: #8899aa;
}

code {
  border: solid 1px #ccc;
}

pre>code {
  border: 0px;
}

pre {
  padding: 0.5em;
}

pre<code {
  background: blue;
}

#contener {
  width: 800px;
}

br.clear {
  clear: both;
}

#about span a {
  border-left: solid 8px #aaa;
  padding-left: 5px;
  white-space: nowrap;
  color: #0000aa;
  font-weight: bold;
}

.posts {
  float: left;
  width: 600px;
}

.links {
  float: right;
  width: 200px;
}

.footer {
  text-align: right;
  clear: both;
}

.entry-head {
  font-weight: bold;
}

.entry-list li {
  padding: 0.5em;
}

div > pre {
  overflow: auto;
}

/* vim:set ts=8 sts=2 sw=2 noet: */
