<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="stylesheet" href="/assets/css/site.css" type="text/css" />
	<link href="/assets/gcp/prettify.css" type="text/css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/assets/gcp/prettify.js"></script>
<script>
$(function() {
  $('pre>code').each(function() { $(this.parentNode).addClass('prettyprint') })
  prettyPrint();
});
</script>
</head>
<body>
	<div id="contener">
	{{ content }}
	</div>
</body>
</html>
